.idea
bazel-*
*.pyc
.project/
output/
mace-models/
mace/
nohup.out
third_party/mace/include/
third_party/mace/lib/
third_party/tflite/flatbuffers/
third_party/tflite/tensorflow/
cmake-build-debug/
dataset/
CMakeLists.txt
.python-version
*~
*swp
