build --verbose_failures
build --copt=-std=c++11
build --copt=-fPIC
build --copt=-D_GLIBCXX_USE_C99_MATH_TR1
build --copt=-ffast-math
build --copt=-Ofast
build --strategy=CppCompile=standalone

build -c opt
build --copt=-O3
build --linkopt=-Wl,--strip-all
build --copt=-fvisibility=hidden
build --copt=-ffunction-sections
build --copt=-fdata-sections
build --linkopt=-Wl,--gc-sections

# By default, we don't distinct target and host platfroms.
# When doing cross compilation, use --config=cross_compile to distinct them.
build --distinct_host_configuration=false
build:cross_compile --distinct_host_configuration=true

# Usage example: bazel build --config android
build:android --define linux_base=true
build:android --crosstool_top=//external:android/crosstool
build:android --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:android --config=cross_compile

# Linux host build, --config linux
build:linux --define linux_base=true
build:linux --define linux=true

# Usage example: bazel build --config arm_linux_gnueabihf
build:arm_linux_gnueabihf --define linux_base=true
build:arm_linux_gnueabihf --define linux=true
build:arm_linux_gnueabihf --config=cross_compile
build:arm_linux_gnueabihf --crosstool_top=//tools/arm_compiler:toolchain
build:arm_linux_gnueabihf --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:arm_linux_gnueabihf --cpu=armhf
build:arm_linux_gnueabihf --copt -mfloat-abi=hard
build:arm_linux_gnueabihf --copt -mfpu=neon
build:arm_linux_gnueabihf --copt -Wno-ignored-attributes
build:arm_linux_gnueabihf --copt -Wno-unused-function
build:arm_linux_gnueabihf --copt -Wno-sequence-point
build:arm_linux_gnueabihf --copt -Wno-implicit-fallthrough

# Usage example: bazel build --config aarch64_linux_gnu
build:aarch64_linux_gnu --define linux_base=true
build:aarch64_linux_gnu --define linux=true
build:aarch64_linux_gnu --config=cross_compile
build:aarch64_linux_gnu --crosstool_top=//tools/aarch64_compiler:toolchain
build:aarch64_linux_gnu --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:aarch64_linux_gnu --cpu=aarch64
build:aarch64_linux_gnu --copt -Wno-ignored-attributes
build:aarch64_linux_gnu --copt -Wno-unused-function
build:aarch64_linux_gnu --copt -Wno-sequence-point
build:aarch64_linux_gnu --copt -Wno-implicit-fallthrough
